* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
a {
  text-decoration: none;
}
.container-fluid {
  width: 100%;
}
.container {
  width: 1100px;
  margin: auto;
}
.container:after,
.container .clearfix {
  clear: both;
  display: table;
}
.container:after {
  content: " ";
}
.row {
  display: block;
  width: 100%;
}
.row:after,
.row .clearfix {
  clear: both;
  display: table;
}
.row:after {
  content: " ";
}
.col-1 {
  width: 8.33333333%;
  float: left;
}
.col-2 {
  width: 16.66666667%;
  float: left;
}
.col-3 {
  width: 25%;
  float: left;
}
.col-4 {
  width: 33.33333333%;
  float: left;
}
.col-5 {
  width: 41.66666667%;
  float: left;
}
.col-6 {
  width: 50%;
  float: left;
}
.col-7 {
  width: 58.33333333%;
  float: left;
}
.col-8 {
  width: 66.66666667%;
  float: left;
}
.col-9 {
  width: 75%;
  float: left;
}
.col-10 {
  width: 83.33333333%;
  float: left;
}
.col-11 {
  width: 91.66666667%;
  float: left;
}
.col-12 {
  width: 100%;
  float: left;
}
/*via btn*/
.btn {
  color: white;
  margin: 5px;
  padding: 8px 15px;
  border: 0 none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/*btn-color-mixin*/
/*btn-colo-mixin end*/
.btn.default {
  background-color: #55606e;
}
.btn.default:active,
.btn.default.active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
}
.btn.default:hover,
.btn.default:active,
.btn.default.active {
  background-color: #292e34;
}
.btn.primary {
  background-color: #0080ff;
}
.btn.primary:active,
.btn.primary.active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
}
.btn.primary:hover,
.btn.primary:active,
.btn.primary.active {
  background-color: #004d99;
}
.btn.success {
  background-color: #36c77b;
}
.btn.success:active,
.btn.success.active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
}
.btn.success:hover,
.btn.success:active,
.btn.success.active {
  background-color: #207749;
}
.btn.danger {
  background-color: #fb5240;
}
.btn.danger:active,
.btn.danger.active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
}
.btn.danger:hover,
.btn.danger:active,
.btn.danger.active {
  background-color: #d11804;
}
.btn-liner {
  background: white;
  padding: 6px 13px;
  margin: 5px;
  border: 2px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/*btn-line-color-mixin*/
/*mixin init end*/
.btn-liner.default {
  color: #55606e;
  border-color: #55606e;
}
.btn-liner.default:hover,
.btn-liner.default:active,
.btn-liner.default.active {
  background-color: #a4adb8;
  border-color: #3f4751;
}
.btn-liner.default:active,
.btn-liner.default.active {
  -webkit-box-shadow: 0 0 8px 0 #3f4751 inset;
  -moz-box-shadow: 0 0 8px 0 #3f4751 inset;
  -o-box-shadow: 0 0 8px 0 #3f4751 inset;
  box-shadow: 0 0 8px 0 #3f4751 inset;
  color: #292e34;
}
.btn-liner.primary {
  color: #0080ff;
  border-color: #0080ff;
}
.btn-liner.primary:hover,
.btn-liner.primary:active,
.btn-liner.primary.active {
  background-color: #99ccff;
  border-color: #0066cc;
}
.btn-liner.primary:active,
.btn-liner.primary.active {
  -webkit-box-shadow: 0 0 8px 0 #0066cc inset;
  -moz-box-shadow: 0 0 8px 0 #0066cc inset;
  -o-box-shadow: 0 0 8px 0 #0066cc inset;
  box-shadow: 0 0 8px 0 #0066cc inset;
  color: #004d99;
}
.btn-liner.success {
  color: #36c77b;
  border-color: #36c77b;
}
.btn-liner.success:hover,
.btn-liner.success:active,
.btn-liner.success.active {
  background-color: #ade9ca;
  border-color: #2b9f62;
}
.btn-liner.success:active,
.btn-liner.success.active {
  -webkit-box-shadow: 0 0 8px 0 #2b9f62 inset;
  -moz-box-shadow: 0 0 8px 0 #2b9f62 inset;
  -o-box-shadow: 0 0 8px 0 #2b9f62 inset;
  box-shadow: 0 0 8px 0 #2b9f62 inset;
  color: #207749;
}
.btn-liner.danger {
  color: #fb5240;
  border-color: #fb5240;
}
.btn-liner.danger:hover,
.btn-liner.danger:active,
.btn-liner.danger.active {
  background-color: #fedad6;
  border-color: #fa250e;
}
.btn-liner.danger:active,
.btn-liner.danger.active {
  -webkit-box-shadow: 0 0 8px 0 #fa250e inset;
  -moz-box-shadow: 0 0 8px 0 #fa250e inset;
  -o-box-shadow: 0 0 8px 0 #fa250e inset;
  box-shadow: 0 0 8px 0 #fa250e inset;
  color: #d11804;
}
/*via btn end*/
/*input*/
/*input color mixin*/
/*input color mixin end*/
input,
select,
textarea {
  padding: 10px;
  border: 1px solid #d9d9d9;
  margin: 5px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 128, 255, 0.7) inset;
  -moz-box-shadow: 0 0 8px 0 rgba(0, 128, 255, 0.7) inset;
  -o-box-shadow: 0 0 8px 0 rgba(0, 128, 255, 0.7) inset;
  box-shadow: 0 0 8px 0 rgba(0, 128, 255, 0.7) inset;
}
input.success,
select.success,
textarea.success {
  border: 2px solid #36c77b;
  padding: 8px;
}
input.success:focus,
select.success:focus,
textarea.success:focus {
  -webkit-box-shadow: 0 0 5px 0 rgba(54, 199, 123, 0.7) inset;
  -moz-box-shadow: 0 0 5px 0 rgba(54, 199, 123, 0.7) inset;
  -o-box-shadow: 0 0 5px 0 rgba(54, 199, 123, 0.7) inset;
  box-shadow: 0 0 5px 0 rgba(54, 199, 123, 0.7) inset;
}
input.primary,
select.primary,
textarea.primary {
  border: 2px solid #0080ff;
  padding: 8px;
}
input.primary:focus,
select.primary:focus,
textarea.primary:focus {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 128, 255, 0.7) inset;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 128, 255, 0.7) inset;
  -o-box-shadow: 0 0 5px 0 rgba(0, 128, 255, 0.7) inset;
  box-shadow: 0 0 5px 0 rgba(0, 128, 255, 0.7) inset;
}
input.danger,
select.danger,
textarea.danger {
  border: 2px solid #fb5240;
  padding: 8px;
}
input.danger:focus,
select.danger:focus,
textarea.danger:focus {
  -webkit-box-shadow: 0 0 5px 0 rgba(251, 82, 64, 0.7) inset;
  -moz-box-shadow: 0 0 5px 0 rgba(251, 82, 64, 0.7) inset;
  -o-box-shadow: 0 0 5px 0 rgba(251, 82, 64, 0.7) inset;
  box-shadow: 0 0 5px 0 rgba(251, 82, 64, 0.7) inset;
}
textarea {
  display: block;
  resize: vertical;
  box-sizing: content-box;
}
/*input*/
/*list-group*/
.list-group {
  list-style: none;
  margin: 5px;
  padding: 0;
}
.list-group .list-item {
  padding: 10px;
  margin: 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.list-group .list-item:hover {
  background: #d9d9d9;
}
.list-group .list-item.active,
.list-group .list-item:active {
  background: #0080ff;
  color: white;
}
/*list-group end*/
/*via panel*/
.panel {
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  min-height: 28px;
  min-width: 30px;
  border: 1px solid #D9D9D9\9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: white;
}
.panel .panel-head {
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
  color: #7c8389;
  text-align: center;
}
.panel .panel-body {
  margin: 5px;
}
/*panel color mixin*/
/*panel color mixin end*/
.panel.success {
  border-top: 5px solid #36c77b;
}
.panel.success .panel-head {
  color: #2b9f62;
}
.panel.danger {
  border-top: 5px solid #fb5240;
}
.panel.danger .panel-head {
  color: #fa250e;
}
.panel.primary {
  border-top: 5px solid #0080ff;
}
.panel.primary .panel-head {
  color: #0066cc;
}
.panel.default {
  border-top: 5px solid #55606e;
}
.panel.default .panel-head {
  color: #3f4751;
}
/*via panel end*/
/*via popup*/
.popup {
  min-width: 50px;
  min-height: 20px;
  max-width: 500px;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background: white;
  color: black;
  position: relative;
  display: inline-block;
}
.popup:after,
.popup .cursor {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  margin: 0;
  z-index: 10;
}
.popup-left {
  margin-right: 10px;
}
.popup-left:after,
.popup-left .cursor {
  border-left-color: white;
  right: -20px;
  top: 50%;
  margin-top: -10px;
}
.popup-right {
  margin-left: 10px;
}
.popup-right:after,
.popup-right .cursor {
  border-right-color: white;
  left: -20px;
  top: 50%;
  margin-top: -10px;
}
.popup-top {
  margin-bottom: 10px;
}
.popup-top:after,
.popup-top .cursor {
  border-top-color: white;
  left: 50%;
  bottom: -20px;
  margin-left: -10px;
}
.popup-bottom {
  margin-top: 10px;
}
.popup-bottom:after,
.popup-bottom .cursor {
  border-bottom-color: white;
  left: 50%;
  top: -20px;
  margin-left: -10px;
}
/*via popup end*/
/*progress*/
/*progress color mixin*/
/*progress color mixin end*/
.progress {
  height: 15px;
  position: relative;
  margin: 5px;
  padding: 0;
  background: #d9d9d9;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.1) inset;
  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.1) inset;
}
.progress .progress-bar {
  float: left;
  width: 0;
  height: 100%;
  line-height: 20px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.progress .progress-bar:after,
.progress .progress-bar .clearfix {
  clear: both;
  display: table;
}
.progress .progress-bar:after {
  content: " ";
}
.progress.primary .progress-bar {
  background: #0080ff;
}
.progress.danger .progress-bar {
  background: #fb5240;
}
.progress.success .progress-bar {
  background: #36c77b;
}
.progress.default .progress-bar {
  background: #55606e;
}
/*progress end*/
/*slider*/
/*slider handler color mixin*/
/*slider handler color mixin end*/
.slider {
  border: 1px solid #55606e;
  position: relative;
  margin: 20px 10px;
  /*slider progress*/
  /*slider handler*/
}
.slider .slider-progress {
  position: absolute;
  left: -1px;
  top: -1px;
  border: 1px solid;
  width: 0;
  height: 0;
}
.slider .handler {
  cursor: pointer;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  margin: -10px 0 0 -10px;
}
.slider.primary .slider-progress {
  background-color: #004d99;
  border-color: #0080ff;
}
.slider.primary .handler {
  background-color: #0080ff;
}
.slider.primary .handler:hover {
  background-color: #0066cc;
}
.slider.primary .handler:active {
  background-color: #004d99;
}
.slider.success .slider-progress {
  background-color: #207749;
  border-color: #36c77b;
}
.slider.success .handler {
  background-color: #36c77b;
}
.slider.success .handler:hover {
  background-color: #2b9f62;
}
.slider.success .handler:active {
  background-color: #207749;
}
.slider.danger .slider-progress {
  background-color: #d11804;
  border-color: #fb5240;
}
.slider.danger .handler {
  background-color: #fb5240;
}
.slider.danger .handler:hover {
  background-color: #fa250e;
}
.slider.danger .handler:active {
  background-color: #d11804;
}
.slider.default .slider-progress {
  background-color: #292e34;
  border-color: #55606e;
}
.slider.default .handler {
  background-color: #55606e;
}
.slider.default .handler:hover {
  background-color: #3f4751;
}
.slider.default .handler:active {
  background-color: #292e34;
}
.slider:after {
  content: "";
  clear: both;
}
.slider-vertical {
  width: 0;
  height: 100%;
  display: inline-block;
}
.slider-vertical .handler {
  top: 100%;
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  transition: top 0.3s ease;
}
.slider-horizontal {
  height: 0;
  width: 100%;
}
.slider-horizontal .handler {
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
/*slider end*/
.switch {
  width: 70px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 2px;
  background: #d9d9d9;
  margin: 5px;
  display: inline-block;
}
.switch .handler {
  width: 26px;
  height: 26px;
  display: inherit;
  -webkit-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  transition: margin 0.3s ease;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  position: relative;
}
.switch .handler.primary {
  background: #0080ff;
}
.switch .handler.primary:hover {
  background: #0066cc;
}
.switch .handler.primary:active {
  background: #004d99;
}
.switch .handler.success {
  background: #36c77b;
}
.switch .handler.success:hover {
  background: #2b9f62;
}
.switch .handler.success:active {
  background: #207749;
}
.switch .handler.danger {
  background: #fb5240;
}
.switch .handler.danger:hover {
  background: #fa250e;
}
.switch .handler.danger:active {
  background: #d11804;
}
.switch .handler.default {
  background: #55606e;
}
.switch .handler.default:hover {
  background: #3f4751;
}
.switch .handler.default:active {
  background: #292e34;
}
.switch .handler i {
  position: absolute;
  left: 30px;
  top: 0;
  margin: 6px 5px;
  font-size: 10px;
  color: white;
}
.switch.active {
  background: #85deaf;
}
.switch.active .handler {
  margin-left: 40px;
}
.switch.active i {
  left: -40px;
}
.pagination {
  margin: 10px 0;
  list-style: none;
  display: inline-block;
}
.pagination li {
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #0080ff;
}
.pagination li a {
  font-weight: bold;
  font-size: 14px;
  padding: 7px 12px;
  position: relative;
  float: left;
}
.pagination li:hover {
  background-color: #d9d9d9;
}
.pagination li:active,
.pagination li.active {
  background-color: #0080ff;
  color: white;
}
.modal-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 1000;
}
.modal {
  width: 500px;
  height: auto;
  min-height: 50px;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -250px;
  z-index: 1200;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.modal-content {
  position: relative;
}
.modal-ctr {
  position: absolute;
  right: 0;
  top: 0;
}
.modal-title {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: #55606e;
}
.modal-body {
  padding: 0;
  margin: 0;
}
.modal-foot {
  float: right;
  padding: 20px;
}
.modal-sm {
  width: 250px;
  margin-left: -125px;
}
